 * {
     user-select: none;
 }

 body {
     font-family: 'Times New Roman';
     background: #f4f6f8;
     margin: 0;
     padding: 0;
     box-sizing: border-box;

     max-height: 250vh;
 }

 .container {
     max-width: 900px;
     margin: auto;
     background: plum;
     padding: 20px;
     border-radius: 8px;
 }

 #login input {
     width: 100%;
     padding: 15px 0px;
     border-radius: 10px;
     border: none;
     outline: 2px solid purple;
     font-size: 28px;
 }

 #login input::placeholder {
     font-size: 28px;
     padding-left: 10px;
 }

 #login label {
     color: navy;
     font-size: 30px;
     user-select: none;
 }

 #login select {
     width: 100%;
     padding: 15px 0px;
     border-radius: 10px;
     border: none;
     outline: 2px solid purple;
     font-size: 28px;
 }



 h1,
 h2 {
     text-align: center;
     color: purple;
     font-size: 30px;
     font-style: italic;
 }



 .hidden {
     display: none
 }

 .question {
     margin: 20px 0
 }


 .question h3 {
     color: navy;
     font-size: 30px;
     text-align: center;
 }

 .question p {
     color: navy;
     font-size: 22px;
     font-weight: 600;
 }

 .qimg {
     max-width: 300px;
     height: auto;
     margin: 10px 0;
     border-radius: 8px;
 }

 label {
     color: navy;
     font-size: 18px;
     font-weight: 600;
 }

 .options label {
     display: block;
     margin: 8px 0;
     cursor: pointer
 }

 .options input[type=radio] {
     transform: scale(1.5);
 }


 .nav {
     display: flex;
     justify-content: space-between;
     margin-top: 20px
 }

 #login button,
 #exam button,
 #result button {
     padding: 15px 16px;
     border: none;
     border-radius: 50px;
     background: purple;
     color: #fff;
     font-size: 20px;
     cursor: pointer;
 }

 #login button:hover {
     background-color: white;
     color: purple;

 }

 .box:hover {
     color: white;

 }

 button:disabled {
     background: #aaa
 }

 .timer {
     text-align: right;
     font-weight: bold;
     color: navy;
     font-size: 30px;
 }

 .timer.danger {
     color: red;
     animation: blink 1s infinite;
 }

 @keyframes blink {
     50% {
         opacity: 0.4;
     }
 }


 table {
     width: 100%;
     border-collapse: collapse;
 }

 th,
 td {
     border: 2px solid #ccc;
     padding: 8px;
     text-align: center;
 }




 .footer {
     text-align: center;
     font-size: 18px;
     color: navy;
 }



 /* calculator */
 #openCalc {
     position: fixed;
     top: 20px;
     right: 20px;
     padding: 12px 18px;
     font-size: 16px;
     background: navy;
     color: white;
     border: none;
     border-radius: 20px;
     cursor: pointer;
     z-index: 3000;
 }

 #calcBox {
     position: fixed;
     top: 0px;
     right: 40px;
     width: 360px;
     height: 500px;
     background: white;
     border-radius: 12px;
     box-shadow: 0 0 20px rgba(0, 0, 0, .4);
     display: none;
     /* hidden by default */
     flex-direction: column;
     z-index: 4000;
 }

 #calcHeader {
     background: navy;
     color: white;
     padding: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 #closeCalc {
     background: red;
     color: white;
     border: none;
     padding: 5px 10px;
     cursor: pointer;
     border-radius: 4px;
 }

 #calcBox iframe {
     width: 100%;
     height: 100%;
     border: none;
 }


 #calculator {
     font-family: Arial, sans-serif;
     border-radius: 15px;
     max-width: 100%;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     border: 2px solid black;

 }

 #display {
     width: 100%;
     padding: 15px;
     font-size: 2.2rem;
     text-align: left;
     border: 1px solid #999;
     background-color: #ffffff;
     color: black;


 }

 #keys {
     flex: 1;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 10px;
     padding: 15px;
 }

 #calculator button {
     width: 100%;
     height: 55px;
     border-radius: 60%;
     border: none;
     background-color: hsl(0, 0%, 30%);
     color: white;
     font-size: 1.2rem;
     font-weight: bold;
     cursor: pointer;
 }

 #calculator button:hover {
     background-color: hsl(0, 0%, 40%);
 }

 #calculator button:active {
     background-color: hsl(0, 0%, 50%);
 }

 #calculator .operator-btn {
     background-color: hsl(30, 100%, 50%);
 }

 #calculator .operator-btn:hover {
     background-color: hsl(30, 100%, 65%);
 }

 #calculator .operator-btn:active {
     background-color: hsl(30, 100%, 75%);
 }


 #calculator .trig-btn {
     background-color: hsla(133, 75%, 40%, 0.897);
 }

 #calculator .trig-btn:hover {
     background-color: hsla(133, 75%, 65%, 0.897);
 }

 #calculator .trig-btn:active {
     background-color: hsla(133, 75%, 75%, 0.897);
 }


 @media screen and (max-width:768px) {
     #openCalc {
         top: auto;
         bottom: 10px;
         right: 15px;
         padding: 5px 14px;
         font-size: 14px;
         max-height: 40px;
     }
 }