 
 *{
    user-select: none;
 }
 
 body {
     font-family: 'Times New Roman';
     background: #f4f6f8;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .container {
     max-width: 900px;
     margin: auto;
     background: plum;
     padding: 20px;
     border-radius: 8px;
 }

 #login input{
    width: 100%;
    padding: 15px 0px;
    border-radius: 10px;
    border: none;
    outline: 2px solid  purple;
    font-size: 28px;
 }
#login input::placeholder{
    font-size: 28px;
    padding-left: 10px;
}

#login label{
    color:navy;
    font-size: 30px;
    user-select: none;
}



 h1,
 h2 {
     text-align: center;
     color: purple;
     font-size: 30px;
     font-style: italic;
 }



 .hidden {
     display: none
 }

 .question {
     margin: 20px 0
 }


 .question h3{
    color: navy;
    font-size: 30px;
    text-align: center;
 }

 .question p{
    color: navy;
    font-size: 22px;
    font-weight: 600;
 }

 label{
    color: navy;
    font-size: 18px;
    font-weight: 600;
 }

 .options label {
     display: block;
     margin: 8px 0;
     cursor: pointer
 }

 .options input[type=radio]{
    transform: scale(1.5);
 }


 .nav {
     display: flex;
     justify-content: space-between;
     margin-top: 20px
 }

 button {
     padding: 15px 16px;
     border: none;
     border-radius: 50px;
     background: purple;
     color: #fff;
     font-size: 20px;
     cursor: pointer;
 }

 button:hover{
    background-color: white;
    color:purple;

 }

 .box:hover{
    color: white;
    
 }
 
 button:disabled {
     background: #aaa
 }

 .timer {
     text-align: right;
     font-weight: bold;
     color: navy;
     font-size: 40px;
 }

 table {
     width: 100%;
     border-collapse: collapse;
 }

 th,
 td {
     border: 2px solid #ccc;
     padding: 8px;
     text-align: center;
 }


 .footer{
    text-align: center;
    font-size: 18px;
    color: navy;
 }